
#temp/backup files
*~
.*.swp
*.bak
#compiled files
*.a
*.o
*.pyc
cmake_install.cmake
CMakeCache.txt
#compiled dirs
CMakeFiles
arduino/libraries
arduino/*/applet
build
bin
lib
old
msg_gen
srv_gen
src/*_msgs
Log
log.txt
#misc
ROS_NOBUILD
.svn
