<launch>

  <node name="speech_names" pkg="pocketsphinx" type="recognizer.py" output="screen">
    <param name="lm" value="$(find speech_recognition)/config/names/2063.lm"/>
    <param name="dict" value="$(find speech_recognition)/config/names/2063.dic"/>
  </node>

  <node name="speech_commands" pkg="pocketsphinx" type="recognizer.py" output="screen">
    <param name="lm" value="$(find speech_recognition)/config/commands/2894.lm"/>
    <param name="dict" value="$(find speech_recognition)/config/commands/2894.dic"/>
  </node>

</launch>
